---
name: pr

on:
  pull_request

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v5
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: build --snapshot --clean --single-target

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: azure/setup-helm@v4.3.1
      - run: helm lint deploy/cert-manager-webhook-autodns
